<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Project Rabitez</title>
    <link rel="stylesheet" href="<%= 'css/joinProject.css' %>">
    <link rel="shortcut icon" href="<%= 'images/lotus.png' %>" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <div class="header">
                <img src="<%= 'images/lotus.png' %>" alt="Logo" class="logo">
                <h1>Rabitez</h1>
            </div>
        </div>
        <div class="right-side">
            <div class="login-container">
                <h2>Join a team</h2>
                <form action="/joinProject" method="POST">

                    <label for="teamName">Team Name</label>
                    <input type="text" id="teamName" name="teamName" required>

                    <label for="teamCode">Team Code</label>
                    <input type="text" id="teamCode" name="teamCode" required>

                    <button type="submit">Join</button>
                </form>
                <p>Don't have a team? <a href="/createProject">Create a new</a></p>
            </div>
        </div>
    </div>
</body>
</html>
